
    .wd-float-left {
        float: left;
     }
     .wd-handle{
        font-size: 15px;
        color:lightgray;
     }
     .bordering{
      border-radius : 50%
     }
    
       
       
            